<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script>
        function toggleCheckbox(element) {
            const checkboxes = document.getElementsByName('status');
            checkboxes.forEach(checkbox => {
                if (checkbox !== element) {
                    checkbox.checked = false;
                }
            });
        }
    </script>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/sign-up" method="post">
        <div class="row g-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name" name="name" >
                <input type="checkbox" id="parent" name="status" value="부모" onclick="toggleCheckbox(this)">
                <label for="parent">부모</label> 
                <input type="checkbox" id="child" name="status" value="자녀" onclick="toggleCheckbox(this)">
                <label for="child">자녀</label>
            </div>
            <div class="col">
                <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email">
                <input type="tel" class="form-control" placeholder="Phone Number (-제외)" aria-label="Phone Number (-제외)" pattern="[0-9]{3}[0-9]{4}[0-9]{4}" name="phone">
            </div>
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password">
            <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Password" name="confirmPassword">
            <div class="col">
                <button type="submit" class="btn btn-primary">Create account</button>
            </div>
           
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </form>
</body>
</html>
